<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express js</title>
</head>
<body>
    <% if(errors[0]) { %>
        <h1><%=errors[0]%></h1>
    <% } else { %>
        <span>''</span>
            <% } %>
    <% for(let user of users) { %>
    <div>
        <h1><%= user.name %></h1>
        <h3><%= user.date %></h3>
        <h5><%= user.id %></h5>
        <a href="<%= user.delete %>">Delete</a>
    </div>
    <% } %>
</body>
</html>
